{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- logo png -->

    <!-- end logo png -->
    <a class="navbar-brand" href="/dashboard">CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if '/lessons' in request.build_absolute_uri %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard:lesson_list' %}">Занятия</a>
            </li>
        <li class="nav-item {% if '/payments' in request.build_absolute_uri %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard:payment_stat' %}">Статистика платежей</a>
            </li>

        </ul>



        {% if not user.is_active %}
            <a href="{% url 'account_login' %}" class="btn btn-outline-primary my-sm-0" role="button">Вход</a>
        {% else %}
            <a href="{% url 'account_logout' %}" class="btn btn-outline-secondary my-sm-0" role="button">Выход</a>
        {% endif %}

    </div>
</nav>

