{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block nav %}
    {% include 'dashboard/_nav.html' %}
{% endblock %}

{% block content %}
    <h1>{{ lesson.name }}</h1>
    <h5>{{ lesson.date }} {{ lesson.time_start }} - {{ lesson.time_end }}</h5>
    <p>{{ lesson.description|safe }}</p>
    <h5>Обучающиеся</h5>
    {% for student in  lesson.studentonlesson_set.all %}
        {{ student }}<br>
    {% endfor %}

    <h5>Фотографии</h5>

    <table class="table">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for photo in lesson.photofromlesson_set.all %}
            <tr>
                <td><a href="{{ photo.photo.url }}">ссылка</a></td>
                <td>{{ photo.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form photo_form %}
        <button class="btn btn-primary" type="submit">Загрузить</button>
    </form>
{% endblock content %}
