{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    CRM | Занятия
{% endblock %}
{% block extra_head %}
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/datetimepicker/css/bootstrap-datetimepicker.css' %}" />
    <link rel='stylesheet' href="{% static 'glyphicons-only-bootstrap/css/bootstrap.min.css' %}" />


{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static '/moment/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static '/datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>



    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>



    <script>
        $(document).ready(function() {

            $('#lessons').dataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Russian.json"
                },
                "order": [[ 0, "desc" ]]
            });

            $('#date_start,#date_end,#id_date_start').datetimepicker({
                locale: 'ru',
                format: 'L'
            });

        });


    </script>



{% endblock %}

{% block content %}
    <h1>Занятия</h1>

    {#    <form class="form">#}
    {##}
    {#        <div class="form-group row">#}
    {#            <div class="input-group date mb-3" id='datetimepicker1'>#}
    {#                <label for="staticEmail" class="col-sm-1 col-form-label">С даты</label>#}
    {#                <input type="text" class="form-control" id="staticEmail">#}
    {#                <div class="input-group-append">#}
    {#                    <span class="input-group-text"><span class="glyphicon glyphicon-calendar"></span></span>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </form>#}



    <form method="GET">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputDateStart">С даты</label>
                <div class="input-group" id="date_start">
                    <input type="text" class="form-control" id="inputDateStart" name="date_start">
                    <div class="input-group-append">
                        <span class="input-group-text"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inputDateEnd">По дату</label>
                <div class="input-group" id="date_end">
                    <input type="text" class="form-control" id="inputDateEnd" name="date_end">
                    <div class="input-group-append">
                        <span class="input-group-text"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inputState">Курс</label>
                <select id="inputState" class="form-control" name="course">
                    <option></option>
                    <option>курс1</option>
                </select>
            </div>

            <div class="form-group col-auto col-md-1">
                <label for="inputBtn">&nbsp;</label>
                <div class="input-group">
                    <input id="inputBtn" type="submit" class="btn btn-primary" value="Найти">
                </div>
            </div>

        </div>

    </form>

    <form method="GET">
        <div class="form-row">

            {% bootstrap_field filter_form.date_start addon_after='<span class="glyphicon glyphicon-calendar"></span>'%}
            {% bootstrap_field filter_form.date_end addon_after='<span class="glyphicon glyphicon-calendar"></span>'%}
            {% bootstrap_field filter_form.course %}

            <div class="form-group col-auto col-md-1">
                <label for="inputBtn">&nbsp;</label>
                <div class="input-group">
                    <input id="inputBtn" type="submit" class="btn btn-primary" value="Найти">
                </div>
            </div>
        </div>
    </form>

    <hr>
    <table class="table" id="lessons">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Название</th>
            <th>Обучающиеся</th>
        </tr>
        </thead>
        <tbody>
        {% for l in lesson_list %}
            <tr>
                <td><a href="{% url 'dashboard:lesson_detail' l.pk %}">{{ l.date|date:"Y-m-d" }} {{ l.time_start }}-{{ l.time_end }}</a></td>
                <td>{{ l.name }}</td>
                <td>{{ l.students_names }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock content %}
