<script>
    $(document).ready(function () {
        //if cookie hasn't been set...
        if (document.cookie.indexOf("cookiePolicyShown=true")<0 & (window.location.href.indexOf("{% url 'privacy' %}") <0) ) {
            console.log(window.location.href );
            $("#cookieDialog").show();
            //Modal has been shown, now set a cookie so it never comes back
            $("#cookieModalClose").click(function () {
                $("#cookieDialog").hide();
                document.cookie = "cookiePolicyShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";

            });
        }
    });
</script>


<nav class="navbar fixed-bottom navbar-light bg-light" id="cookieDialog" style="display: none">
    <div class="small col-md-10">Мы используем файлы «cookies» и похожие технологии на нашем веб-сайте, чтобы улучшить работу и повысить эффективность сайта.
        <br>Используя этот сайт, Вы соглашаетесь с размещением cookie-файлов на Вашем компьютере в соответствии с условиями <a href="{% url 'privacy' %}">политики конфиденциальности.</a></div>
    <div class="col-md-2">
        <a href="" class="btn btn-success btn-sm" data-dismiss="modal" id="cookieModalClose">Я согласен(-на)</a>
    </div>
</nav>
