{% if not request.user.is_authenticated %}
    <div class="text-center">
        {% if not without_alert %}
            <div class="alert alert-primary" role="alert">
                <h5> Для быстрой связи с Вами зарегистрируйтесь на сайте с помощью одной из соцсетей:</h5>
            </div>
        {% endif %}

    <p> Войти с помощью внешнего аккаунта:</p>
        <a title="Google" class="socialaccount_provider google btn btn-danger" role="button" href="/accounts/google/login/?process=login">Google</a>

        <a title="VK" class="socialaccount_provider vk btn btn-info" role="button"  href="/accounts/vk/login/?process=login">&nbsp;&nbsp;&nbsp; VK &nbsp;&nbsp;&nbsp;</a>

        <a title="Facebook" class="socialaccount_provider facebook btn btn-primary" role="button"  href="/accounts/facebook/login/?process=login">Facebook</a>

    </div>
{% endif %}
