{% extends 'base.html' %}
{% load timetable_extras %}

{% block title %}
    {% get_month_name year month as current_month %}
    Расписание {{ current_month.2 }} {{ current_month.0 }}
{% endblock %}

{% block description %}
    Расписание занятий Лаборатории роботов
{% endblock %}

{% block extra_head %}
    <style>
        .table-bordered > tbody > tr:hover > td {
            background-color: greenyellow;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script>
        $("table.month").addClass("table table-bordered");

        $(document).ready(function(){
            $("table").delegate("tr.week", "click", function(){
                const week_start = $(this).find('td:first');

                const year = week_start.attr('year');
                const month = week_start.attr('month');
                const day = week_start.text();
                const url = "/raspisanie/nedelya/"+year+"-"+month+"-"+day;

                console.log(url);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% get_month_name year month prev=True as prev_month %}
    {% get_month_name year month next_=True as next_month %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'landing:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Расписание</li>
        </ol>
    </nav>

    <h1>Расписание</h1>
    {{ calendar_html|safe }}


    <div class="row">
        <div class="col-md-6 text-center">
            <a href="{% url 'timetable:month' prev_month.0 prev_month.1 %}"><< {{ prev_month.2 }} {{ prev_month.0 }}</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{% url 'timetable:month' next_month.0 next_month.1 %}">{{ next_month.2 }} {{ next_month.0 }} >></a>
        </div>
    </div>
{% endblock %}
