{% extends 'base.html' %}
{% block title %}
    Личный кабинет
{% endblock %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'landing:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Личный кабинет</li>
        </ol>
    </nav>

    {% include 'private/_nav_private.html' %}

    <p>Количество оплаченых занятий: {{ request.user.get_lesson_balance_by_courses }}</p>
    <p>Даты следующих занятий: </p>
{% endblock %}
