{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    {{ poll.title }}
{% endblock %}

{% block description %}
    Опрос, голосование, {{ poll.title }}
{% endblock %}

{% block extra_head %}

    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>

    <script type="text/javascript">
        VK.init({apiId: 7129753, onlyWidgets: true});
    </script>


{% endblock %}

{% block content %}

{#    {% if messages %}#}
{#        <div>#}
{#            <strong>Messages:</strong>#}
{#            <ul>#}
{#                {% for message in messages %}#}
{#                    <li>{{message}}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    {% endif %}#}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'landing:index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'poll:list' %}">Опросы</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ poll.title }}</li>
        </ol>
    </nav>


    <h2 class="text-center">{{ poll.title }}</h2>

    <form method="post">{% csrf_token %}


        {% for field in form %}
            {% bootstrap_field field placeholder=''%}
        {% endfor %}


        <button type="submit" class="btn btn-primary">{{ poll.post_button_text }}</button>
    </form>
    <p></p>
    <!-- Put this div tag to the place, where the Comments block will be -->
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 15, attach: "*"});
    </script>
{% endblock %}
